{% extends "base.html" %}

{% block title %}Character Details{% endblock %}

{% block content %}
<div class="header">
<h2>Character Name: Anariel Raekhem</h2>
    <h2>Title: Muhibb al-Nur li-Anar (Anar’s radiant enforcer)</h2>
    <img src="{{ url_for('static', filename='../static/anariel.jpg')}}" height="200">
</div>

<div class="content-container">
    <div class="story">
        <h2>Early Life and Tragedy</h2>
        <p>Aelarion's early life was a serene one, spent on his family's idyllic farm at the edge of a quaint village. He grew up with his parents, learning the ways of the land and enjoying the simple joys of rural life. His father was his mentor, teaching him the value of hard work, honesty, and the importance of protecting one's loved ones.</p>

        <h2>Crisis and Loss</h2>
        <p>However, when Aelarion was just thirteen, tragedy struck. Their peaceful village was attacked by a ruthless enemy faction. In the chaos of the attack, Aelarion's father made a heart-wrenching sacrifice, giving his life to save Aelarion and his mother. Despite his grief, Aelarion's father's final words instilled in him a newfound determination to protect those he cared about.</p>

        <h2>Desperate Journey</h2>
        <p>Aelarion and his injured mother managed to reach the nearest city, but their hope for salvation turned to despair as they arrived too late to save her. With no family left and fueled by anger and vengeance, Aelarion chose a different path. He enlisted in the military's special forces, driven by the desire to become stronger and to prevent others from experiencing the pain he endured.</p>

        <h2>Bond with Davhyr</h2>
        <p>Within the special forces, Aelarion found a kindred spirit in Davhyr. Their shared experiences of loss and a burning desire for justice forged a deep and unbreakable bond between them. Their friendship provided Aelarion with a sense of belonging and purpose that he hadn't felt since his family's tragedy.</p>

        <h2>Noble Family Connection</h2>
        <p>Through Davhyr, Aelarion was introduced to his friend's powerful noble family. They welcomed him with open arms, treating him like one of their own. Amid the nobility's grandeur, Aelarion met Davhyr's youngest sister—a brilliant and competitive sorceress who stood out among her siblings.</p>

        <h2>The Competitive Spark</h2>
        <p>The sorceress challenged Aelarion from the moment they met, their interactions marked by wit, banter, and a fierce rivalry. Despite the clash of personalities, they found themselves drawn to each other's strengths and vulnerabilities. Aelarion's unwavering determination impressed her, while her magic and fiery spirit intrigued him.</p>

        <h2>Mission and Crisis</h2>
        <p>During a dangerous mission, disaster struck. Their platoon faced an unexpected and overwhelming threat, resulting in heavy casualties. Davhyr, Aelarion's closest friend, fell victim to a magical poison with no known cure. Aelarion's heartache was compounded by guilt, as he believed he failed to protect his friend.</p>

        <h2>Seeking Redemption</h2>
        <p>Overwhelmed by grief and shame, Aelarion left behind his noble connections and everything he knew, embarking on a solitary journey to find a cure for Davhyr's affliction. His travels took him to distant lands and pushed him to his limits, both physically and emotionally.</p>

        <h2>Personality:</h2>
        <p>Anariel is driven by a strong sense of justice, honor, and duty. His initial encounter with tragedy and loss could fueled his desire to protect others from suffering. Over time, he developed a balance between his quest for justice and his compassion for those he protects.
        Personality Traits: Determined, resilient, and with strong sense of duty. Although the mistakes of his past still haunt him. Especially when alone or when events remind him of his traumas from the past. He usually can usually silence those moments by interacting with many people or with relentless training.
        Flaws and Growth: Impulsive, with a tendency to take on too much responsibility, and difficult to trust others. Although he wished to learn to collaborate more with others and learning to accept that he can't control everything.
        </p>
    </div>
</div>
{% endblock %}
