{% extends "base.html" %}

{% block title %}Character Details{% endblock %}

{% block content %}
<div class="header">
<h2>Character Name: Davhyr Nekht-Tet</h2>
<img src="{{ url_for('static', filename='../static/davhyr.jpg')}}" height="200">

</div>
<div class="content-container">
    <div class="story">
        <h2>Introduction</h2>
        <p>Davhyr is a charismatic and skillful sun elf who stands as a paragon of honor and leadership within the empire. He carries a deep sense of responsibility for his people, particularly as a member of a powerful noble family. Despite his noble status, he remains approachable and maintains strong ties to his roots.</p>

        <h2>Leadership Role</h2>
        <p>Davhyr's family has traditionally held a key leadership role within the empire, contributing members to the Council of the Five and even producing emperors over generations. They are respected for their wisdom, fairness, and sense of duty.</p>

        <h2>Relations with the Empire</h2>
        <p>House Nekht-Tet is well-regarded throughout the empire. Their sense of duty and commitment to the people have earned them the trust and admiration of both common citizens and fellow nobles. Despite their high status, the family remains deeply connected to the needs of the people.</p>

        <h2>Influence and Power:</h2>
        <p>The family's influence extends beyond politics and leadership; they are also patrons of the arts, magic, and knowledge. They sponsor educational institutions, cultural events, and libraries. Their wealth is often channeled into projects that benefit the empire as a whole.</p>

        <h2>Davhyr's personality</h2>
        <p>Davhyr embodies the ideals of his family. He is honorable, selfless, and deeply compassionate. His charisma draws people to him, and his ability to relate to both commoners and nobles is a testament to his balanced upbringing. He possesses a quiet strength and an innate talent for inspiring others to follow his lead.</p>

        <h2>Relationship with the Anariel:</h2>
        <p>Davhyr's friendship with Anariel is a testament to his open-mindedness and ability to connect with others from diverse backgrounds. He offers guidance, a sense of belonging, and unwavering loyalty. His family's resources play a vital role in Anariel's quest to find a cure for Davhyr's condition.</p>

        <h2>Struggles and growth</h2>
        <p>While Davhyr excels in leadership, he grapples with the weight of expectation and his role as a symbol of his family. He often sacrifices his own well-being for the greater good, reflecting his sense of responsibility. </p>
        </p>
    </div>
</div>
{% endblock %}