{% extends "base.html" %}

{% block title %}Character Details{% endblock %}

{% block content %}
<div class="header">
<h2>Character Name: Kaelon Nekht-Tet</h2>

</div>
<div class="content-container">
    <div class="story">
         <h2>Personality</h2>
        <p>Kaelon is charismatic and ambitious. He has a natural gift for leadership and is often seen as the glue that holds his siblings together. He exudes confidence and determination and is known for his strategic mind. He carries himself with the grace expected of a noble heir.</p>

        <h2>Backstory</h2>
        <p>Kaelon has been groomed from a young age to inherit his family's legacy. He takes his role seriously and is eager to lead and protect the empire his family holds dear. He values unity and cooperation among his siblings and strives to ensure they all contribute to their family's success.</p>
    </div>
</div>
{% endblock %}