{% extends "base.html" %}

{% block title %}Character Details{% endblock %}

{% block content %}
<div class="header">
<h2>Character Name: Kyiara Nekht-Tet</h2>
<img src="{{ url_for('static', filename='../static/kyiara.png')}}" height="200">
</div>
<div class="content-container">
    <div class="story">
         <h2>Introduction</h2>
        <p>Kyiara is the spirited and brilliant youngest sibling of House Nekht-Tet. Her fiery personality is a stark contrast to the more reserved nature of her older siblings. Growing up as the ninth child in a large family, she developed a fierce determination to stand out and secure her place in the family's legacy.</p>

        <h2>Magical Prodigy</h2>
        <p>Kyiara’s innate talent for sorcery was discovered at a young age, marking her as a prodigy among her siblings. Her ability to wield magic set her apart, not only in her family but throughout the entire empire. She is viewed as a symbol of the empire's potential and greatness.</p>

        <h2>Sibling Rivalry</h2>
        <p>Born into a large family with older and accomplished siblings, Kyiara often felt overlooked and overshadowed. Her competitive nature and desire for recognition led her to dedicate herself to her magical studies, driven by the need to prove herself worthy of attention.</p>

        <h2>Quest for Attention</h2>
        <p>Throughout her childhood, Kyiara's rivalry with her siblings pushed her to excel in her magical pursuits. She tirelessly practiced and honed her skills, determined to become the best in her chosen field of magic. Her dedication won her accolades and admiration, finally granting her the attention she craved.</p>

        <h2>Personality Traits</h2>
        <p>Kyiara possesses a sharp wit, quick tongue, and boundless confidence. She's unafraid to voice her opinions, even if they clash with tradition or authority. Her intelligence is matched only by her stubbornness, and her determination often borders on recklessness.</p>

        <h2>Relationship with Davhyr</h2>
        <p>Davhyr and Kyiara share a unique bond within the family. Despite their differences in temperament, they complement each other remarkably well. Davhyr's calm and patient demeanor often tempers Kyiara's impulsiveness, while her competitive spirit challenges him to embrace new perspectives.</p>

        <h2>Struggle for Identity</h2>
        <p>Throughout the story, Kyiara's journey centers on finding her identity beyond her magical prowess. She grapples with the realization that her value isn't solely tied to her accomplishments. As she and the protagonist embark on their quest, Kyiara's growth involves discovering her authentic self and learning to appreciate the significance of emotional connections.</p>

        <h2>Kyiara's Role in the Empire</h2>
        <p>Kyiara's magical abilities make her a respected figure within the empire's magical community. She often serves as an ambassador of House [Family Name], showcasing the empire's commitment to progress, innovation, and magical excellence. Her brilliance drives her to explore and develop new magical techniques that benefit the empire.</p>
    </div>
</div>
{% endblock %}