{% extends "base.html" %}

{% block title %}Character Details{% endblock %}

{% block content %}
<div class="header">
<h2>Character Name: Lord Harun Nekht-Tet</h2>
<img src="{{ url_for('static', filename='lord_harun.jpg')}}" height="200">
</div>
<div class="content-container">
    <div class="story">
         <h2>Personality</h2>
        <p>Lord Harun is a warm and jovial figure within the family. He is known for his kind-hearted nature and approachability. He treats his family, staff, and subjects with respect and consideration. His sense of humor is infectious, and he enjoys spending time with his children, sharing stories and imparting wisdom.</p>

        <h2>Backstory</h2>
        <p>Lord Harun was born into nobility and grew up with a sense of duty and responsibility toward his people. He values unity and fairness and has worked hard to ensure his family's legacy benefits all. He has a deep connection with the desert and takes pride in leading the family in a way that reflects the values of the Sun Elves' empire.</p>

    </div>
</div>
{% endblock %}
