{% extends "base.html" %}

{% block title %}Character Details{% endblock %}

{% block content %}
<div class="header">
<h2>Character Name: Rhydian Nekht-Tet</h2>
<img src="{{ url_for('static', filename='rhydian.png')}}" height="200">
</div>
<div class="content-container">
    <div class="story">
         <h2>Personality</h2>
        <p>Rhydian is a deep thinker and a philosopher. He often contemplates the mysteries of life and existence. His introspective nature can make him appear distant, but those who engage with him find his insights valuable. He is known for his patience and calm demeanor.</p>

        <h2>Backstory</h2>
        <p>Rhydian's philosophical interests were nurtured by his family's emphasis on understanding the world beyond the surface. He seeks to explore the connections between the Sun Elves' spiritual beliefs and the practical aspects of life. He often engages in meaningful discussions with his siblings about their place in the universe.</p>
    </div>
</div>
{% endblock %}
