{% extends "base.html" %}

{% block title %}Character Details{% endblock %}

{% block content %}
<div class="header">
<h2>Character Name: Selene Nekht-Tet</h2>
<img src="{{ url_for('static', filename='selene.png')}}" height="200">
</div>
<div class="content-container">
    <div class="story">
         <h2>Personality</h2>
        <p>Selene is charismatic and sociable. She possesses a natural charm that draws people to her. She is a skilled diplomat who excels at making connections with individuals from various backgrounds. Her ability to read people makes her an invaluable asset to her family.</p>

        <h2>Backstory</h2>
        <p>Selene's fascination with diplomacy stems from her desire to create alliances and strengthen the empire's influence. She is often the bridge between her family and external forces. Her optimism and adaptability allow her to navigate complex political landscapes with finesse.</p>
    </div>
</div>
{% endblock %}
